<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrgMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_ORG(
			NAME,	
			CODE,	
			P_ID,
			PCODE,	
			CLASS,	
			ORDERS,	
			CREATEDATE,	
			PERSONNUM,	
			LEADER,	
			ADDRESS,	
			PHONE,	
			EMAIL,	
			URL,	
			INTRO,	
			REMARK,	
			DEFAULTONE,	
			DEFAULTTWO,	
			DEFAULTTHREE,	
			ORG_ID
		) values (
			#{NAME},	
			#{CODE},	
			#{P_ID},
			#{PCODE},	
			#{CLASS},	
			#{ORDERS},	
			#{CREATEDATE},	
			#{PERSONNUM},	
			#{LEADER},	
			#{ADDRESS},	
			#{PHONE},	
			#{EMAIL},	
			#{URL},	
			#{INTRO},	
			#{REMARK},	
			#{DEFAULTONE},	
			#{DEFAULTTWO},	
			#{DEFAULTTHREE},	
			#{ORG_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ORG
		where 
			ORG_ID = #{ORG_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ORG
			set 
				NAME = #{NAME},
				CODE = #{CODE},
				P_ID = #{P_ID},
				PCODE = #{PCODE},
				CLASS = #{CLASS},
				ORDERS = #{ORDERS},
				CREATEDATE = #{CREATEDATE},
				PERSONNUM = #{PERSONNUM},
				LEADER = #{LEADER},
				ADDRESS = #{ADDRESS},
				PHONE = #{PHONE},
				EMAIL = #{EMAIL},
				URL = #{URL},
				INTRO = #{INTRO},
				REMARK = #{REMARK},
				DEFAULTONE = #{DEFAULTONE},
				DEFAULTTWO = #{DEFAULTTWO},
				DEFAULTTHREE = #{DEFAULTTHREE},
			ORG_ID = ORG_ID
			where 
				ORG_ID = #{ORG_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			CODE,	
			P_ID,	
			PCODE,	
			CLASS,	
			ORDERS,	
			CREATEDATE,	
			PERSONNUM,	
			LEADER,	
			ADDRESS,	
			PHONE,	
			EMAIL,	
			URL,	
			INTRO,	
			REMARK,	
			DEFAULTONE,	
			DEFAULTTWO,	
			DEFAULTTHREE,	
			ORG_ID
		from 
			TB_ORG
		where 
			ORG_ID = #{ORG_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="orglistPage" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.CODE,	
				a.P_ID,	
				a.PCODE,	
				a.CLASS,	
				a.ORDERS,	
				a.CREATEDATE,	
				a.PERSONNUM,	
				a.LEADER,	
				a.ADDRESS,	
				a.PHONE,	
				a.EMAIL,	
				a.URL,	
				a.INTRO,	
				a.REMARK,	
				a.DEFAULTONE,	
				a.DEFAULTTWO,	
				a.DEFAULTTHREE,	
				a.ORG_ID
		from 
				TB_ORG a
		left join
			TB_ORG b 
		on  a.P_ID = b.ORG_ID 
		where 
		    a.P_ID = #{pd.P_ID}
		<if test="pd.NAME != null and pd.NAME != ''">
			and a.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%') 
		</if>
		order by a.ORDERS
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.NAME,	
				a.CODE,	
				a.P_ID,	
				a.PCODE,	
				a.CLASS,	
				a.ORDERS,	
				a.CREATEDATE,	
				a.PERSONNUM,	
				a.LEADER,	
				a.ADDRESS,	
				a.PHONE,	
				a.EMAIL,	
				a.URL,	
				a.INTRO,	
				a.REMARK,	
				a.DEFAULTONE,	
				a.DEFAULTTWO,	
				a.DEFAULTTHREE,	
				a.ORG_ID
		from 
				TB_ORG a
		left join
			TB_ORG b 
		on  a.P_ID = b.ORG_ID 
		where 
		    a.P_ID = #{pd.P_ID}
		<if test="pd.NAME != null and pd.NAME != ''">
			and a.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%') 
		</if>
		order by a.ORDERS
	</select>
	
	<!-- 查询总数 -->
	<select id="findCount" parameterType="pd" resultType="pd">
		select 
			count(ORG_ID) ZS
		from 
			TB_ORG
		where 
			P_ID = #{ORG_ID}
	</select>
	
	<!-- 查询某编码 -->
	<select id="findBmCount" parameterType="pd" resultType="pd">
		select 
			ORG_ID
		from 
			TB_ORG
		where 
			CODE = #{CODE}
		<if test="ORG_ID != null and ORG_ID != ''">
			and ORG_ID != #{ORG_ID} 
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_ORG
		where 
			ORG_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
<!-- 自定义开始 -->	
	<!-- 查询所有节点 -->
	<select id="selectOrgTree" parameterType="page" resultType="pd">
		select * from TB_ORG
	</select>
	
	<!-- 查询此节点的子集 -->
	<select id="hasSonId" parameterType="String" resultType="int">
		select count(*) from TB_ORG where P_ID = #{item}
	</select>
<!-- 自定义结束 -->	
		
</mapper>